.my-account-page {
    min-height: 100vh;
    background: linear-gradient(180deg, #2b0000, #7a0000);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;

    h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 25px;
        text-align: center;
    }

    .level-stats-box {
        background: #400000;
        padding: 20px;
        border-radius: 12px;
        width: 100%;
        max-width: 600px;
        text-align: center;
        margin-bottom: 30px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);

        h3 {
            font-size: 24px;
            color: #ffcc00;
            font-weight: 700;
            margin-bottom: 8px;
        }

        strong {
            color: #00e676;
            font-size: 22px;
        }
    }


    .results-wrapper {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .logout-btn {
        background: #ffcc00;
        color: #000;
        font-weight: 600;
        border: none;
        padding: 10px 18px;
        margin-top: 25px;
        border-radius: 8px;
        transition: 0.3s;

        &:hover {
            background: #d9ad00;
        }
    }
}