.tests-wrapper {
    padding: 20px;
    // border: 1px solid black;
    width: 100%;
    // min-height: 200px;

    .rodal {
        width: 340px;
        border-radius: 20px;
        // padding: 0 !important;

        // div {

        .rodal-body-scroll {
            max-height: 85vh;
            /* fits screen */
            overflow-y: auto;
            /* enables scroll */
            padding: 20px;


            p {
                font-size: 20px;
                font-weight: 500;
                color: rgba(0, 0, 0, 1);
                line-height: 100%;
                text-align: center;
                margin-top: 35px;
            }

            .rodal-inside {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 10px;

                input {
                    width: 100%;
                    height: 40px;
                    border: 1px solid rgba(148, 148, 148, 1);
                    border-radius: 10px;
                    padding: 10px;
                }

                textarea {
                    height: 127px;
                    width: 100%;
                    padding: 10px;
                    border: 1px solid rgba(148, 148, 148, 1);
                    border-radius: 10px;
                }
            }

            .submit-button {
                width: 100%;
                height: 50px;
                background-color: rgba(36, 93, 48, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                margin-top: 50px;
                color: white;
            }

            .comment-button {
                width: 100%;
                height: 50px;
                background-color: rgb(65, 65, 247);
                display: flex;
                font-size: 14px;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                margin-top: 20px;
                color: white;
                padding: 20px;
            }


        }
    }
}