// .sidebar{


@mixin media ($size) {
    @media (max-width:$size) {
        @content;
    }
}

.sidebar {
    width: 100%;
    height: 100%;
    margin-left: -387px;
    transition: all ease-in-out 1000ms;
    padding: 0 30px 0 30px;
    background: linear-gradient(135deg, #4b0000, #8b0000);
    // height: 100vh;
    border-right: 2px solid white;


    @include media(570px) {
        width: 200px;
        position: absolute;
        z-index: 60;

        // width: 200%;
    }

}

.sidebar2 {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 30px;
    transition: all ease-in-out 1000ms;
    background: linear-gradient(135deg, #4b0000, #8b0000);
    // height: 100vh;
    border-right: 2px solid white;


    @include media(960px) {
        // width: 200px!important;
        width: 400px !important;
        position: absolute;
        z-index: 60;

        // width: 200%;
        // background: white;
    }

    @include media(570px) {
        width: 200px !important;
        position: absolute;
        z-index: 60;
        // width: 200%;
        // background: white;
    }
}

// }