* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    padding: 1rem;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 20px;
        font-weight: 600;
    }
}