.tests-page {
    max-width: 1000px;
    width: 100%;
    border: 1px solid;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 40px;

    .tests-wrapper {
        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .test-array{
            padding: 30px;
            border: 1px solid;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}