.auth-bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#5a0000, #200000);
    padding: 20px;
    
}

.auth-card {
    background: rgba(0, 0, 0, 0.65);
    padding: 40px 35px;
    border-radius: 14px;
    max-width: 380px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.4);
    animation: fadeIn 0.4s ease;
    margin: 0 auto;
    margin-top: 40px;
}

.auth-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffbf00;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;

    label {
        color: #eee;
        margin-bottom: 5px;
        font-size: 14px;
    }

    input {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: none;
        outline: none;
        background-color: #5a0000;
        color: white;

    }
}



.switch {
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;

    span {
        color: #ffbf00;
        font-weight: bold;
    }
}

.auth-btn {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    background: #ffbf00;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: #ffd74d;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}