// @import "tailwindcss";


.register {
    // display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

    .register-card {
        max-width: 300px;
        width: 100%;
        // height: 350px;
        border: 1px solid;
        border-radius: 15px;
        margin-top: 30px;
        padding: 20px;

        h3 {
            font-size: 20px;
            font-weight: 600;
            color: black;
            // margin-top: 20px;
            cursor: pointer;
            text-align: center;
        }

        .input-wrapper {
            display: flex;
            flex-direction: column;
            gap: 7px;

            label {
                font-size: 17px;
                font-weight: 600;
                color: black;
            }

            input {
                padding: 7px;
                // padding-top: 2p;
                display: flex;
                align-items: center;
                border: 1px solid rgb(156, 155, 155);
                border-radius: 10px;
            }
        }

        .addition {
            margin-top: 20px;
        }

        h1 {
            font-size: 14px;
            font-weight: 600;
            color: black;
            margin-top: 20px;
            cursor: pointer;

            span {
                color: rgba(82, 0, 217, 1);
                text-decoration: underline;
            }
        }

        .register-button {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 600;
            color: white;
            background-color: rgba(82, 0, 217, 1);
            margin-top: 20px;
        }
    }
}